# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/shelf/

.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

.idea/**/gradle.xml
.idea/**/libraries

.gradle
.gradletasknamecache

/out/
/build/

*.iws

gradle-app.setting

!gradle-wrapper.jar

