/*
 * Reference: (modena.css)
 * https://gist.github.com/maxd/63691840fc372f22f470
 */

.root {
    -fx-base: #f99;
    -fx-background: derive(-fx-base, 98.0%);
    -fx-control-inner-background: derive(-fx-base,92.0%);
    -fx-control-inner-background-alt: derive(-fx-control-inner-background,-3%);
    -fx-accent: #ffaf4b;

    -fx-default-button: #ffa062;
    -fx-focus-color: #ff7043;
    -fx-faint-focus-color: #ff704322;
    -fx-color: -fx-base;

    -fx-text-base-color: ladder(
        -fx-color,
        -fx-light-text-color 95.0%,
        -fx-mid-text-color   97.0%,
        -fx-dark-text-color  99.0%
    );

    -fx-bar-selected-color: #e15353;
}

.login-frame {
    -fx-border-color: -fx-base;
    -fx-border-width: 3px;
}

.error-message {
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

.sidebar {
    -fx-background-color: linear-gradient(to bottom, -fx-color 80%, derive(-fx-color, 10%) 100%)
}

.nav-section {
    -fx-max-width: Infinity;
    -fx-text-fill: -fx-light-text-color;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 16.0;
    -fx-padding: 8;
    -fx-border-insets: 20 0 0 0;
    -fx-border-color: -fx-inner-border transparent -fx-outer-border transparent;
}

.nav-button {
    -fx-font-size: 16.0;
    -fx-font-weight: bold;
    -fx-background-radius: 0.0;
    -fx-background-color: -fx-color;
    -fx-max-width: Infinity;
}

.nav-button:selected {
	-fx-background-color: -fx-pressed-base;
}

.header {
    -fx-border-color: -fx-color;
    -fx-border-width: 0 0 2 0;
}

.table-view .column-header .label {
    -fx-text-fill: -fx-light-text-color;
}

.context-menu .label {
    -fx-text-fill: -fx-dark-text-color
}

.title{
	-fx-font-size: 16.0;
	-fx-font-weight: bold;
}

.strong {
    -fx-font-size: 14.0;
    -fx-font-weight: bold;
}

.pick-instruction {
    -fx-font-size: 14.0;
}

#user-name {
    -fx-font-size: 14.0;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#login-app-title {
    -fx-background-color: -fx-color;
    -fx-font-size: 4em;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.chart-title {
    -fx-font-size: 1.2em;
}

.chart-pie-label {
    -fx-fill: -fx-text-background-color;
    -fx-font-size: 12.0;
    -fx-max-width: 50;
    -fx-min-width: 50;
    -fx-pref-width: 50;
    -fx-width: 50;
}

.chart-pie:hover {
    -fx-background-color: derive(-fx-pie-color, -20%);
}

.chart-bar:hover {
    -fx-background-color: derive(-fx-bar-fill, -20%);
}

.chart-bar-selected {
    -fx-bar-fill: -fx-bar-selected-color;
}

.data0.chart-pie { -fx-pie-color: CHART_COLOR_1; }
.data1.chart-pie { -fx-pie-color: CHART_COLOR_2; }
.data2.chart-pie { -fx-pie-color: CHART_COLOR_3; }
.data3.chart-pie { -fx-pie-color: CHART_COLOR_4; }
.data4.chart-pie { -fx-pie-color: CHART_COLOR_5; }
.data5.chart-pie { -fx-pie-color: CHART_COLOR_6; }
.data6.chart-pie { -fx-pie-color: CHART_COLOR_7; }
.data7.chart-pie { -fx-pie-color: CHART_COLOR_8; }
